importFrom("stats","update")
importFrom("methods","show")

## functions to export
export("guiToolkit")

## constructors
export("glabel", "gbutton", "gcheckbox", "gradio", "gdroplist",
"gcheckboxgroup", "gspinbutton", "gslider", "gedit", "gtext", "gmenu",
"gtoolbar", "gtable", "gdf", "gdfnotebook", "gtree", "gfile",
"gfilebrowse", "gcalendar", "ggraphics", "ggraphicsnotebook",
"gimage", "gstatusbar", "gseparator", "gcommandline", "ghelp",
"ghelpbrowser", "ggenericwidget", "gvarbrowser", "gwindow", "ggroup",
"gframe", "gexpandgroup", "gnotebook", "glayout", "gpanedgroup",
"gmessage",
"ginput", "gconfirm", "gbasicdialog",
"addStockIcons","getStockIcons",
       "stockIconFromClass","stockIconFromObject"
)

## export toolkits and the basic gui-classes
exportClasses("guiWidgetsToolkit",
              "guiWidgetsToolkitRGtk2",
              "guiWidgetsToolkitrJava",
              "guiWidgetsToolkitSJava",
              "guiWidgetsToolkittcltk",
              "guiWidgetsToolkitRwxWidgets",                            
              "guiWidget","guiComponent","guiContainer","guiDialog",
              "guiWidgetOrNULL")

## these are used by others but defined here.
export("editSubsetDialog","editSelectDialog")

exportMethods(
"show",
"[", 
"svalue", "svalue<-", "add", "addSpace", "addSpring", "delete",
"dispose", "visible", "visible<-", "enabled", "enabled<-", "size",
"size<-", "focus", "focus<-", "font", "font<-", "tag", "tag<-", "id",
"id<-",
              "addhandlerchanged",  "addHandlerChanged",
              "addhandlerkeystroke","addHandlerKeystroke",
              "addhandlerclicked",  "addHandlerClicked",
              "addhandlerdoubleclick","addHandlerDoubleclick",
              "addhandlerrightclick","addHandlerRightclick",
              "addhandlerdestroy",   "addHandlerDestroy",
              "addhandlerexpose",    "addHandlerExpose",
              "addhandlerunrealize", "addHandlerUnrealize",
              "addhandleridle",      "addHandlerIdle",
              "addpopupmenu",        "addPopupmenu",
              "add3rdmousepopupmenu","add3rdMousePopupmenu",
              "adddropsource",       "addDropSource",
              "adddropmotion",       "addDropMotion",
              "adddroptarget",       "addDropTarget",
              "removehandler",       "removeHandler",
".glabel", ".gbutton", ".gcheckbox", ".gradio", ".gdroplist",
".gcheckboxgroup", ".gspinbutton", ".gslider", ".gedit", ".gtext",
".gmenu", ".gtoolbar", ".gtable", ".gdf", ".gdfnotebook", ".gtree",
".gfile", ".gfilebrowse", ".gcalendar", ".ggraphics",
".ggraphicsnotebook", ".gimage", ".gstatusbar", ".gseparator",
".gcommandline", ".ghelp", ".ghelpbrowser", ".ggenericwidget",
".gvarbrowser", ".gwindow", ".ggroup", ".gframe", ".gexpandgroup",
".gnotebook", ".glayout", ".gpanedgroup", ".svalue", ".svalue<-",
".leftBracket", ".leftBracket<-", ".add", ".addSpace", ".addSpring",
".delete", ".dispose", ".visible", ".visible<-", ".enabled",
".enabled<-", ".size", ".size<-", ".focus", ".focus<-", ".font",
".font<-", ".tag", ".tag<-", ".id", ".id<-", 
".removehandler",
".addhandlerchanged",
".addhandlerkeystroke", ".addhandlerclicked",
".addhandlerdoubleclick", ".addhandlerrightclick",
".addhandlerdestroy", ".addhandlerexpose", ".addhandlerunrealize",
".addhandleridle", ".addpopupmenu", ".add3rdmousepopupmenu",
".adddropsource", ".adddropmotion", ".adddroptarget", ".gmessage",
".ginput", ".gconfirm", ".gbasicdialog",
".addStockIcons",".getStockIcons",
".stockIconFromClass",".stockIconFromObject",
"update",".update",
"length",".length",
"dim",".dim",
"dimnames",".dimnames",
"dimnames<-",".dimnames<-",
"names",".names",
"names<-",".names<-",
"getToolkitWidget",".getToolkitWidget"
 )
